*.pem
*.hdf5
*.pkl
*.pth
*.csv
!.gitignore
!.dockerignore
**/flask_session
**/.cache
**/.data
build/**
fairing/__pycache__/**
**/__pycache__/**
*.pyc
py/code_intelligence/.data/**

**/.idea
# ignore coredumps
**/core.*
# ignore checkpoints
**/.ipynb_checkpoints/
# TODO(jlewi): Is this a remote module? Why is the fairing src getting cloned here?
Label_Microservice/src/**
chatbot/cmd/jwt/jwt